$color-primary-300: #25c870;
$color-primary-200: #4ae290;
$color-primary-100: #a5ffce;

$color-neutral-500: #131316;
$color-neutral-400: #595962;
$color-neutral-300: #9797a1;
$color-neutral-200: #dedee3;
$color-neutral-100: #ffffff;
