html {
  @media (max-width: 1350px) {
    font-size: 15px;
  }
  @media (max-width: 1250px) {
    font-size: 14px;
  }
  @media (max-width: 950px) {
    font-size: 13px;
  }
  @media (max-width: 840px) {
    font-size: 12px;
  }
}

// fonts
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

// community-section
.community-section {
  @media (max-width: 840px) {
    padding: 5.625em 0 11.25em 0;
  }

  .container {
    @media (max-width: 840px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__control-buttons {
    @media (max-width: 840px) {
      margin-right: 4.375em
    }
  }
}

// control-buttons
.control-buttons {
  @media (max-width: 840px) {
    display: none;
  }
}

// footer
.footer {
  @media (max-width: 500px) {
    padding: 20.625em 2em 3.25em 2em;
  }

  &::before {
    @media (max-width: 800px) {
      left: 5%;
      background-size: 28em auto;
    }
    @media (max-width: 550px) {
      left: 0;
      background-size: 24em auto;
    }
  }

  &__main {
    @media (max-width: 800px) {
      margin-left: 28%;
    }
    @media (max-width: 600px) {
      margin-left: 24%;
    }
    @media (max-width: 500px) {
      margin-left: 18%;
    }
  }

  &__title {
    @media (max-width: 600px) {
      font-size: 3rem;
    }
    @media (max-width: 400px) {
      font-size: 2.5rem;
    }
  }

  &__bottom {
    @media (max-width: 550px) {
      margin-top: 4em;
    }
  }
}

// header
.header {
  @media (max-width: 1250px) {
    padding: 1.25em 4em;
  }
  @media (max-width: 1000px) {
    padding: 1.25em 2.5em;
  }
  @media (max-width: 600px) {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/header_bg.jpg");
    background-position: 75% 0;
    background-size: auto 40em;
    background-repeat: no-repeat;
    background-color: $color-neutral-500;
    height: 40em;
  }

  &__main {
    @media (max-width: 600px) {
      margin: 5em 0 0 5em;
    }
  }
}

// image-gallery
.image-gallery {
  @media (max-width: 840px) {
    padding: 0 2em;
    overflow: scroll;
  }
}

// menu
.menu {
  @media (max-width: 840px) {
    display: none;
  }

  &__item {
    @media (max-width: 1250px) {
      margin: 0px .8em;
    }
    @media (max-width: 1000px) {
      margin: 0px .5em;
    }
  }
}

// price-card
.price-card {
  & > * {
    @media (max-width: 840px) {
      justify-content: center;
    }
  }

  @media (max-width: 1250px) {
    width: 20em;
    padding: 3em 3.25em;
  }
  @media (max-width: 950px) {
    width: 19em;
    padding: 2.75em 3em;
  }
  @media (max-width: 840px) {
    width: 75vw;
    display: grid;
    grid-template-areas: "name  features"
                         "price button";
    row-gap: 0;
    column-gap: 8em;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 600px) {
    width: 80vw;
    column-gap: 4em;
  }
  @media (max-width: 400px) {
    width: 85vw;
    column-gap: 1em;
    padding: 2.75em 1em;
  }
}

// pricing-section
.pricing-section {
  &__price-cards {
    @media (max-width: 840px) {
      flex-direction: column;
      row-gap: 2em;
      align-items: center;
      justify-content: center;
    }
  }
}
