* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
}

@import "base/fonts";
@import "base/colors";

@import "blocks/container";
@import "blocks/button";
@import "blocks/section-title";
@import "blocks/menu";
@import "blocks/header";
@import "blocks/mission-section";
@import "blocks/image-gallery";
@import "blocks/control-buttons";
@import "blocks/workouts-section";
@import "blocks/price-card";
@import "blocks/pricing-section";
@import "blocks/community-section";
@import "blocks/collapsible-item";
@import "blocks/faq-section";
@import "blocks/footer";