.button {
  grid-area: button;
  display: inline-block;
  outline: none;
  text-decoration: none;
  background-color: $color-neutral-100;
  border: 2px solid $color-neutral-100;
  color: $color-neutral-500;
  border-radius: 1px;
  padding: 1em 2.857em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  line-height: 1.286em;
  text-align: center;
  letter-spacing: 0.071em;

  &_log-in {
    background-color: transparent;
    border: none;
    color: $color-neutral-100;
    font-size: 0.75rem;
    line-height: 1.5em;
    padding: 1em 0.667em;
  }

  &_sign-up {
    background-color: $color-primary-200;
    border: 2px solid $color-primary-200;
    color: $color-neutral-100;
    font-size: 0.75rem;
    line-height: 1.5em;
    padding: 1em 2.5em;
  }

  &_pricing_light {
    border: 1px solid $color-neutral-500;
    background-color: transparent;
  }
}