.community-section {
  padding: 5.625em 0 11.25em 2.063em;

  .container {
    display: grid;
    grid-template-columns: 23.438em 1fr;
    grid-template-areas: "title    gallery"
                         "controls gallery";
    gap: 7em;
  }

  .section-title {
    grid-area: title;
  }

  .image-gallery {
    grid-area: gallery;
  }

  &__control-buttons {
    grid-area: controls;
    align-self: flex-end;
    margin-left: 4.375em;
  }
}
