.control-buttons {
  display: flex;
  gap: 2em;

  &__left, &__right {
    height: 2.5em;
    width: 2.5em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &-img {
      width: 100%;
      z-index: -1;
    }
  }

  &__left {
    transform: rotate(-180deg);
  }

  &_align-right {
    align-self: flex-end;
  }
}