.footer {
  padding: 4.625em 4em 3.25em 4.5em;
  position: relative;
  background-color: $color-neutral-500;
  color: white;

  @media (max-width: 500px) {
    padding: 20.625em 2em 3.25em 2em;
  }

  &::before {
    content: "";
    width: 31.25em;
    height: 38.625em;
    position: absolute;
    background-image: url("../images/footer_bg.jpg");
    background-size: 31.25em 38.625em;
    background-repeat: no-repeat;
    z-index: 1;
    top: -5em;
    left: 17%;

    @media (max-width: 800px) {
      left: 5%;
      background-size: 28em auto;
    }
    @media (max-width: 550px) {
      left: 0;
      background-size: 24em auto;
    }
  }

  &__main {
    position: relative;
    z-index: 5;
    margin-left: 48%;
    width: 31.25em;
    max-width: 60vw;

    @media (max-width: 800px) {
      margin-left: 28%;
    }
    @media (max-width: 600px) {
      margin-left: 24%;
    }
    @media (max-width: 500px) {
      margin-left: 18%;
    }
  }

  &__title {
    font-size: 3.75rem;
    line-height: 1.033em;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
    @media (max-width: 400px) {
      font-size: 2.5rem;
    }

    &-highlight {
      color: $color-primary-200;
    }

    &-description {
      font-size: 1.25rem;
      line-height: 1.6em;
      color: $color-neutral-100;
      margin: 1.6em 0;
    }
  }

  &__bottom {
    margin-top: 18.75em;
    display: flex;
    justify-content: space-between;

    @media (max-width: 550px) {
      margin-top: 4em;
    }

    &-copyright {
      color: $color-neutral-300;
      font-size: 0.75rem;
      line-height: 1.5em;
    }
  }
}