.header {
  height: 49.375em;
  padding: 1.25em 5em;
  background-image: url("../images/header_bg.jpg");
  background-position: 75% 0;
  background-size: 36.313em 49.375em;
  background-repeat: no-repeat;
  background-color: $color-neutral-500;
  color: white;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__auth {
    display: flex;
    gap: 1em;
  }

  &__main {
    margin: 11.875em 0 0 12.5em;
    width: 33.125em;
  }

  &__title {
    &-highlight {
      color: $color-primary-200;
    }

    &-description {
      font-size: 1.5rem;
      line-height: 1.417em;
      color: $color-neutral-200;
      margin: 1.333em 0;
    }
  }
}