.image-gallery {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 2em;
  overflow: hidden;
  scroll-behavior: smooth;

  &__card {
    width: 20em;
    position: relative;

    &-img {
      width: 100%;
    }

    &-name {
      display: block;
      position: absolute;
      padding: 0.286em 1em;
      background-color: $color-neutral-100;
      bottom: 1.429em;
      left: 1.429em;
      text-transform: capitalize;
      color: $color-neutral-500;
      font-family: Inter;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.286em;
      user-select: none;
    }
  }

  &__testimonial-card {
    width: 22.5em;
    height: 30em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    &-img {
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    &-quote {
      margin: 1.778em 0;
      padding: 0 20px;
      font-style: italic;
      font-size: 1.125rem;
      line-height: 1.444em;
      text-align: center;
      color: #FFFFFF;
    }

    &-author {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.2em;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 1em;

      &::before {
        content: "~";
        font-size: 1.875rem;
        margin-right: 0.1em;
        color: $color-primary-200;
      }
    }
  }
}
