.image-gallery {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 32px;
  overflow: hidden;
  scroll-behavior: smooth;

  &__card {
    width: 320px;
    position: relative;

    &-name {
      display: block;
      position: absolute;
      padding: 4px 14px;
      background-color: $color-neutral-100;
      bottom: 20px;
      left: 20px;
      text-transform: capitalize;
      color: $color-neutral-500;
      font-family: Inter;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      user-select: none;
    }
  }

  &__testimonial-card {
    width: 360px;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    &-img {
      position: absolute;
      z-index: -1;
    }

    &-quote {
      margin: 32px 0px;
      padding: 0 20px;
      font-style: italic;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
    }

    &-author {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 20px;

      &::before {
        content: "~";
        font-size: 30px;
        margin-right: 3px;
        color: $color-primary-200;
      }
    }
  }
}