.image-gallery {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 32px;
  overflow: hidden;
  scroll-behavior: smooth;

  &__card {
    width: 320px;
    position: relative;

    &-name {
      display: block;
      position: absolute;
      padding: 4px 14px;
      background-color: $color-neutral-100;
      bottom: 20px;
      left: 20px;
      text-transform: capitalize;
      color: $color-neutral-500;
      font-family: Inter;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      user-select: none;
    }
  }
}