.mission-section {
  padding: 140px 0 90px 0;

  &__container {
    width: 768px;
    margin: 0 auto;
  }

  &__description {
    margin-top: 32px;
    font-size: 1.25rem;
    line-height: 32px;
    color: $color-neutral-400;
  }

  &__join-button {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    position: relative;
    padding: 17px 0;
    margin-top: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-neutral-500;
    font-family: Inter;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 18px;
    letter-spacing: 1px;

    &::after {
      content: "";
      background-image: url("../images/icons/circle_chevron.svg");
      background-repeat: no-repeat;
      background-size: 22px 22px;
      width: 22px;
      height: 22px;
    }
  }
}
