.pricing-section {
  padding: 5.625em 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
    margin-top: 5em;
  }
}
