.price-card {
  width: 25.313em;
  padding: 5em 5.75em;
  background: rgba(19, 19, 22, 0.05);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  align-items: center;
  justify-content: start;

  & > * {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    justify-content: start;
    @media (max-width: 840px) {
      justify-content: center;
    }
  }

  @media (max-width: 1250px) {
    width: 20em;
    padding: 3em 3.25em;
  }
  @media (max-width: 950px) {
    width: 19em;
    padding: 2.75em 3em;
  }
  @media (max-width: 840px) {
    width: 75vw;
    display: grid;
    grid-template-areas: "name  features"
                         "price button";
    row-gap: 0;
    column-gap: 8em;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 600px) {
    column-gap: 4em;
  }
  @media (max-width: 400px) {
    column-gap: 1em;
    padding: 2.75em 1em;
  }

  &__name {
    grid-area: name;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: $color-neutral-500;
    color: white;
    padding: 0.286em 1em;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.286em;
  }

  &__price {
    grid-area: price;

    > span {
      display: block;
      text-align: center;
    }

    &-value {
      color: $color-neutral-500;
      font-family: Inter;
      font-weight: 800;
      font-size: 3.125rem;
      line-height: 1em;

      &::after {
        content: "$";
        font-size: 1.875rem;
        line-height: 1.667em;
      }
    }

    &-period {
      font-family: Inter;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.143em;
      color: $color-neutral-400;
    }
  }

  &__features {
    grid-area: features;

    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }

  &__feature {
    color: $color-neutral-500;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.625em;
    padding-left: 1.875em;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/circle_check_dark.svg");
      background-size: 1.25em 1.25em;
      width: 1.25em;
      height: 1.25em;
      left: 0;
    }
  }

  &_long {
    padding-top: 2.625em;
    padding-bottom: 2.625em;
  }

  &_dark {
    background: $color-neutral-500;

    .price-card__name {
      background-color: white;
      color: $color-neutral-500;
    }
    .price-card__price-value {
      color: white;
    }
    .price-card__price-period,
    .price-card__feature {
      color: $color-neutral-200;
    }
    .price-card__feature {
      &::before {
        background-image: url("../images/icons/circle_check_light.svg");
      }
    }
  }
}