.pricing-section {
  padding: 90px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    margin-top: 80px;
  }
}