.section-title {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1.4em;
  height: 2.4em;

  &::before {
    display: block;
    content: "";
    background-image: url("../images/icons/user_friends.svg");
    background-repeat: no-repeat;
    width: 3em;
    height: 2.4em;
    position: absolute;
    z-index: -1;
    left: 0;
  }

  &::after {
    content: ".";
    color: $color-primary-200;
  }

  &_workouts {
    &::before {
      background-image: url("../images/icons/calendar.svg");
      width: 2.4em;
    }
  }

  &_pricing {
    &::before {
      background-image: url("../images/icons/price_tag.svg");
      width: 2.44em;
    }
  }

  &_community {
    &::before {
      background-image: url("../images/icons/speech.svg");
      width: 2.7em;
    }
  }

  &_faq {
    padding-left: 0;
    &::before {
      background-image: none;
      width: 0;
      height: 0;
    }
  }
}